
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    /*header{
        flex-direction: column;
        align-items: flex flex-start;
    }*/

    article
    {
        color:black;
    }
