#cabecera {
    height: 150%;
    background-color: rgb(173, 230, 199);
}
#nav {
    height: 50%;
    background-color: lightgray;
}
#principal{
    display: flex;
    align-items: stretch;
}
#contenido {
    width: 80%;
    background-color: lemonchiffon;
    min-height: 80%;
}
#aside {
    width: 20%;
    background-color: lightsalmon;
    min-height: 80%;
}
#pie{
    background-color: lightseagreen;
    height: 50%;
}