header {
    height: 50%;
    background-color: lime;
    text-align: center;
}
nav {
    height: 30%;
    background-color: lightgray;
}
#principal {
    display: flex;
    align-items: stretch;
}
article {
    height: 50%;
    width: 70%;
    background-color: lemonchiffon;
    
}
aside {
    height: 50%;
    width: 30%;
    background-color: lightsalmon;
    
}
footer {
    background-color: lightseagreen;
    height: 20%;
}