header {
    height: 50%;
    background-color: lime;
    text-align: center;
    color: orangered;
}
nav {
    height: 30%;
    background-color: lightgray;
    color: orange;
}
#principal {
    display: flex;
    align-items: stretch;
}
article {
    height: 80%;
    width: 100%;
    background-color:yellow;
    color: blue;    
}
aside {
    height: 20%;
    width: 100%;
    background-color: lightsalmon;
    text-align: justify;
    
    /*Con esta linea justificamos el texto*/
    
}
#img-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}/*Con esta linea centramos la imagen*/
footer {
    background-color: lightseagreen;
    color:navy
    
}